extends index.pug

block content
  p
    Fanny pack kombucha four loko, lumbersexual next level ennui banh mi. Scenester brooklyn williamsburg semiotics DIY schlitz. Man braid waistcoat everyday carry chartreuse kitsch messenger bag, fam selvage freegan. Wolf etsy unicorn, four dollar toast plaid ennui pabst live-edge health goth vape. Humblebrag cold-pressed kickstarter VHS. Echo park YOLO cred pickled jianbing. Gentrify sartorial hammock, cornhole wayfarers edison bulb trust fund.
